
{% case name %}
  {% when 'search' %}
    {% assign viewBox = "0 0 26 26" %}
    {% assign shape = '<path d="M2 9c0-3.86 3.14-7 7-7s7 3.14 7 7-3.14 7-7 7-7-3.14-7-7zm24 15.585l-9.972-9.972A8.954 8.954 0 0018 9a9 9 0 10-9 9 8.96 8.96 0 005.614-1.972L24.586 26 26 24.585z" fill-rule="evenodd"/>' %}
  {% else %}
  🤔
{% endcase %}

<svg xmlns="http://www.w3.org/2000/svg" viewBox="{{ viewBox }}" {% if id %}id="{{ id }}"{% endif %} {% if class %}class="{{ class }}"{% endif %}>
  {% if svg_title %} <title>{{ svg_title }}</title> {% endif %}
  {{ shape }}
</svg>

<?xml version="1.0" encoding="utf-8"?>
{% case name %}
  {% when 'logo' %}
    <svg viewBox="0 0 30 46" version="1.1" xmlns="http://www.w3.org/2000/svg" {% if id %}id="{{ id }}"{% endif %} {% if class %}class="{{ class }}"{% endif %}>
      {% if title %}
        <title>{{ title }}</title>
      {% endif %}
      <path d="M6.44,8.52 L3,5.06 L8,0 L14.67,6.67 L19.4,2 C20.7784817,0.747037415 22.8980048,0.797559002 24.2152229,2.11477709 C25.532441,3.43199519 25.5829626,5.55151831 24.33,6.93 L19.64,11.6 L29.39,21.35 L24.33,26.41 L24.33,26.41 L19.75,31 L27,38.21 C28.0269628,39.084479 28.4733807,40.4630997 28.1539358,41.7735657 C27.8344908,43.0840316 26.8037311,44.1025689 25.489548,44.4063599 C24.1753649,44.7101509 22.8021672,44.2473205 21.94,43.21 L14.7,36 L14.7,36 L9.77,31.12 L9.77,31.12 L5,26.29 L5,26.29 L0,21.38 L0,21.38 L0,21.38 L5.07,16.3 L5.07,16.3 L7.51,13.86 L12.43,18.78 L10,21.23 L14.83,26.06 L19.4,21.48 L15.9,18 L15.9,18 L6.44,8.52 Z M12.44,38.25 L5,45.69 L0.12,40.77 L7.56,33.33 L12.44,38.25 Z"/>
    </svg>
  {% when 'bag' %}
    <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" {% if id %}id="{{ id }}"{% endif %} {% if class %}class="{{ class }}"{% endif %}>
      {% if title %}
        <title>{{ title }}</title>
      {% endif %}
      <path d="M15.6927273,3.872 C15.6763636,3.776 15.5945455,3.712 15.5127273,3.712 C15.4309091,3.712 13.8763636,3.6 13.8763636,3.6 C13.8763636,3.6 12.7963636,2.544 12.6654545,2.432 C12.5509091,2.32 12.3054545,2.352 12.2236364,2.384 C12.2072727,2.384 11.9781818,2.448 11.6181818,2.56 C11.2581818,1.536 10.62,0.592 9.49090909,0.592 C9.45818182,0.592 9.42545455,0.592 9.39272727,0.592 C9.06545455,0.176 8.67272727,0 8.32909091,0 C5.69454545,0 4.43454545,3.216 4.04181818,4.848 C3.02727273,5.152 2.29090909,5.376 2.20909091,5.408 C1.63636364,5.584 1.62,5.6 1.55454545,6.128 C1.48909091,6.512 0,17.792 0,17.792 L11.6181818,19.92 L17.9181818,18.592 C17.9181818,18.592 15.7090909,3.984 15.6927273,3.872 Z M10.9636364,2.752 C10.6690909,2.848 10.3418182,2.944 9.98181818,3.056 C9.98181818,2.992 9.98181818,2.928 9.98181818,2.848 C9.98181818,2.208 9.88363636,1.696 9.75272727,1.296 C10.3418182,1.36 10.7181818,2 10.9636364,2.752 Z M9.03272727,1.408 C9.19636364,1.808 9.29454545,2.368 9.29454545,3.136 C9.29454545,3.168 9.29454545,3.216 9.29454545,3.248 C8.65636364,3.44 7.95272727,3.648 7.26545455,3.856 C7.65818182,2.4 8.39454545,1.68 9.03272727,1.408 Z M8.24727273,0.688 C8.36181818,0.688 8.47636364,0.72 8.59090909,0.8 C7.75636364,1.184 6.84,2.16 6.46363636,4.112 C5.90727273,4.288 5.36727273,4.448 4.86,4.592 C5.30181818,3.104 6.36545455,0.688 8.24727273,0.688 Z" fill-opacity="0.85" transform="translate(3.000000, 2.000000)"/>
      <path d="M15.5127273,3.712 C15.4309091,3.712 13.8763636,3.6 13.8763636,3.6 C13.8763636,3.6 12.7963636,2.544 12.6654545,2.432 C12.6163636,2.384 12.5672727,2.368 12.5018182,2.352 L11.6181818,19.92 L17.9181818,18.592 C17.9181818,18.592 15.7090909,3.984 15.6927273,3.888 C15.6763636,3.776 15.5781818,3.728 15.5127273,3.712 Z" fill-opacity="0.85" transform="translate(3.000000, 2.000000)"/>
    </svg>
  {% when 'x' %}
    <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" {% if id %}id="{{ id }}"{% endif %} {% if class %}class="{{ class }}"{% endif %}>
      {% if title %}
        <title>{{ title }}</title>
      {% endif %}
      <path d="M4.29289322,4.29289322 C4.68341751,3.90236893 5.31658249,3.90236893 5.70710678,4.29289322 L5.70710678,4.29289322 L12,10.585 L18.2928932,4.29289322 C18.6533772,3.93240926 19.2206082,3.90467972 19.6128994,4.20970461 L19.7071068,4.29289322 C20.0976311,4.68341751 20.0976311,5.31658249 19.7071068,5.70710678 L19.7071068,5.70710678 L13.415,12 L19.7071068,18.2928932 C20.0675907,18.6533772 20.0953203,19.2206082 19.7902954,19.6128994 L19.7071068,19.7071068 C19.3165825,20.0976311 18.6834175,20.0976311 18.2928932,19.7071068 L18.2928932,19.7071068 L12,13.415 L5.70710678,19.7071068 C5.34662282,20.0675907 4.77939176,20.0953203 4.38710056,19.7902954 L4.29289322,19.7071068 C3.90236893,19.3165825 3.90236893,18.6834175 4.29289322,18.2928932 L4.29289322,18.2928932 L10.585,12 L4.29289322,5.70710678 C3.93240926,5.34662282 3.90467972,4.77939176 4.20970461,4.38710056 Z" />
    </svg>
  {% when '+' %}
    <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" {% if id %}id="{{ id }}"{% endif %} {% if class %}class="{{ class }}"{% endif %}>
      {% if title %}
        <title>{{ title }}</title>
      {% endif %}
      <path d="M6,0 C6.55228475,0 7,0.44771525 7,1 L7,1 L7,5 L11,5 C11.5128358,5 11.9355072,5.38604019 11.9932723,5.88337887 L12,6 C12,6.55228475 11.5522847,7 11,7 L11,7 L7,7 L7,11 C7,11.5128358 6.61395981,11.9355072 6.11662113,11.9932723 L6,12 C5.44771525,12 5,11.5522847 5,11 L5,11 L5,7 L1,7 C0.487164161,7 0.0644928393,6.61395981 0.00672773133,6.11662113 L0,6 C0,5.44771525 0.44771525,5 1,5 L1,5 L5,5 L5,1 C5,0.487164161 5.38604019,0.0644928393 5.88337887,0.00672773133 Z" transform="translate(6.000000, 6.000000)"/>
    </svg>
  {% when '-' %}
    <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" {% if id %}id="{{ id }}"{% endif %} {% if class %}class="{{ class }}"{% endif %}>
      {% if title %}
        <title>{{ title }}</title>
      {% endif %}
      <path d="M1,2 L11,2 C11.5522847,2 12,1.55228475 12,1 C12,0.44771525 11.5522847,0 11,0 L1,0 C0.44771525,0 0,0.44771525 0,1 C0,1.55228475 0.44771525,2 1,2 Z" transform="translate(6.000000, 11.000000)"/>
    </svg>  
  {% when 'arrow' %}
    <svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" {% if id %}id="{{ id }}"{% endif %} {% if class %}class="{{ class }}"{% endif %}>
      {% if title %}
        <title>{{ title }}</title>
      {% endif %}
      <polygon points="11.689 16.941 15.55 12.999 4.589 12.999 4.589 11.001 15.55 11.001 11.689 7.059 13.066 5.655 19.411 12 13.066 18.345"/>
    </svg>
  {% else %}
    🤔
{% endcase %}
