<!-- mobile NAV -->
<div id="mobile-nav-wrapper" class="nav--wrapper__mobile display--desktop-hide fade-in--first--together">
  <div class="main-nav--mobile__wrapper">
    <div id="hamburger" class="main-nav--mobile__icon row no-pad align-center justify-center" title="Menu">
      <svg>
        <use xlink:href="#dark--hamburger"/>
      </svg>
    </div>
    <a class="main-nav--mobile__icon row no-pad align-center justify-center" href="/account" title="Account">
      <svg>
        <use xlink:href="#dark--account"/>
      </svg>
    </a>
    <a id="mobile-search-icon" class="main-nav--mobile__icon row no-pad align-center justify-center" title="Search">
      <svg>
        <use xlink:href="#dark--search"/>
      </svg>
    </a>
    <a id="global-cart-mobile-icon" class="main-nav--mobile__icon row no-pad align-center justify-center" title="Bag" href="/cart">
      <svg>
        <use xlink:href="#dark--bag_empty"/>
      </svg>
      <span id="mobile-bag-count" class="bag-count a2 color-white mask--circle bg--red hidden">!</span>
    </a>
  </div>
  <div id="mobile-search" class="mobile-search__container padding-top--md padding-bottom--lg padding-sides--md display--desktop-hide hidden">
    <div class="mobile-search__prompt ">
      Search by Keyword, Style, Model Number, etc.
    </div>
    <input type="text" name='q' class="mobile-search__input margin__top--md padding-top--md padding-bottom--md"/>
    <svg id="mobile-search__x" class="mobile-search__x">
      <use xlink:href="#dark--x_large"/>
    </svg>
  </div>
  <div id="mobile-menu" class="menu-nav--mobile__wrapper display--desktop-hide row padding-sides--none pos--abs bg--white hidden">
    <div class="brand bg--white">
      <div class="nav--icons-wrapper row align-center justify-center no-pad">
        <svg class="x-svg" id="mobile-menu-x">
          <use xlink:href="#dark--x_large"/>
        </svg>
        <a href="/">
          <img src="{{ settings.primary_logo | img_url: '36x' }}" alt="">
        </a>
      </div> 
    </div>
    <div class="menu-nav--mobile__parent-container row padding__sides--none padding__top--ml direction-column no-wrap bg-white">
      {% for link in linklists.main-menu.links %}
        {% if link.links != blank %}
          <div class="parent p weight-medium mobile-parent-trigger padding__top--sm padding__sides--md padding__bottom--sm" data-mobile-name="{{ link.title }}" title="{{ link.title }}">
            {{ link.title }}
            <svg data-mobile-belongsto="{{ link.title }}">
               <use xlink:href="#dark--arrow_large_right"/>
            </svg>
          </div>
        {%- else -%}
          <a class="parent p weight-medium spacing-normal padding__top--sm padding__sides--md padding__bottom--sm" href="{{ link.url }}" title="{{ link.title }}">
            <div class="parent">
              {{ link.title }}
            </div>
          </a>
        {% endif %}
      {% endfor %}
      <a class="alt-brand row align-center margin__top--ml bg-charcoal--80-t" href="/pages/sak-roots" title="SakRoots">
        <svg>
          <use xlink:href="#light--sakroots"/>
        </svg>
      </a>
      <div class="footer bg-charcoal--5-t row no-pad no-wrap direction-column justify-end">
        <div class="offers mobile-parent-trigger row align-center margin__bottom--sm margin__top--lg padding__top--md padding__sides--md padding__bottom--sm" data-mobile-name="Your Offers" title="Your Offers">
          <span class="p margin__right--sm">Your Offers</span>
          <span id="offer-count-mobile" class="offers__num a2 color-white mask--circle bg-red">!</span>
          <svg data-mobile-belongsto="Your Offers">
             <use xlink:href="#dark--arrow_large_right"/>
          </svg>
        </div>
        <a class="p weight-medium spacing-normal margin__bottom--lg padding__top--sm padding__sides--md padding__bottom--md" href="/" title="Customer Service">Customer Service</a>
      </div>
    </div>
    {% for link in linklists.main-menu.links %}
      {% if link.links != blank %}
        <div class="menu-nav--mobile__child-container row padding__sides--none padding__top--ml direction-column no-wrap hidden" data-mobile-parent="{{ link.title }}">
          {% for child_link in link.links %}
            {% if child_link.links != blank %}
              <div class="{% if child_link.title == 'Sale' %} color-red {% endif %} child mobile-child-trigger padding__top--sm padding__sides--md padding__bottom--sm" data-mobile-child-name="{{ child_link.title }}" title="{{ link.title }} - {{ child_link.title }}">
                {{ child_link.title }}
                <svg data-mobile-child-belongsto="{{ child_link.title }}">
                   <use xlink:href="#dark--arrow_large_down"/>
                </svg>
              </div>
              <div class="menu-nav--mobile__grandchild-container row direction-column no-wrap padding__sides--lg margin__top--sm margin__bottom--sm hidden" data-mobile-child-parent="{{ child_link.title }}">
                {% for grandchild_link in child_link.links %}
                  <a class="grandchild p weight-medium spacing-normal padding__top--sm padding__sides--md padding__bottom--sm" href="{{ grandchild_link.url }}" title="{{ link.title }} - {{ child_link.title }} - {{ grandchild_link.title }}">
                    {{ grandchild_link.title }}
                  </a>
                {% endfor %}
              </div>
            {% else %}
              <a class="{% if child_link.title == 'Sale' %} color-red {% endif %} child p weight-medium spacing-normal padding__top--sm padding__sides--md padding__bottom--sm" href="{{ child_link.url }}" title="{{ link.title }} - {{ child_link.title }}">
                {{ child_link.title }}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
<div id="mobile-search__overlay" class="mobile-search__overlay bg-charcoal--40-t pos--abs display--desktop-hide hidden"></div>
</div>