<div class="social-sharing margin-top--sm margin-bottom--sm">

  {% if settings.share_facebook %}
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
      <svg class="social-icon">
        <use xlink:href="#dark--facebook"/>
      </svg>
      <!-- <span aria-hidden="true">Share on Facebook</span> -->
    </a>
  {% endif %}

  {% if settings.share_twitter %}
    <a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
      <svg class="social-icon">
        <use xlink:href="#dark--twitter"/>
      </svg>
      <!-- <span aria-hidden="true">Share on Twitter</span> -->
    </a>
  {% endif %}

  {% if settings.share_pinterest %}
    <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}">
      <svg class="social-icon">
        <use xlink:href="#dark--pinterest"/>
      </svg>
      <!-- <span aria-hidden="true">Share on Pinterest</span> -->
    </a>
  {% endif %}

</div>
