<div class="account-page__container">
  <div class="account-page__header">
    <h2>My Account</h2>
    <a href="/account/logout">
      <svg>
        <use xlink:href="#dark--back"/>
      </svg>
      Log Out
    </a>
  </div>
  <div class="account-page__order-account-wrapper">
    <div class="account-page__order-container">
      <h4>Order History</h4>
      {% if customer.orders.size != 0 %}
        <div class="account-page__order-table">
          <table>
            <thead>
              <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Payment Status</th>
                <th>Fulfillment Status</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <td data-label="Order Number">
                    <a href="{{ order.customer_url }}">{{ order.name }}</a>
                  </td>
                  <td data-label="Date">{{ order.created_at | date: "%b %d, %Y" }}</td>
                  <td data-label="Payment Status">{{ order.financial_status_label }}</td>
                  <td data-label="Fulfillment Status">{{ order.fulfillment_status_label }}</td>
                  <td data-label="Total">{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p class="margin__bottom--md">No orders have been made.</p>
        <a class="link--hover-disappear" href="/">Shop New Arrivals</a>
      {% endif %}
    </div>
    <div class="account-page__address-container">
      <h4>Account Details</h4>
      <div class="account-page__default-address-container">
        {%- if customer.default_address -%}
        <b>Default</b>
          {{ customer.default_address | format_address }}
          <a class="link--hover-disappear" href="/account/addresses">View ({{ customer.addresses.size }}) Address{%- if customer.addresses.size > 1 -%}es{%- endif -%}</a>
        {%- else -%}
        <p class="margin__bottom--md">Your Address Book is empty.</p>
        <a class="link--hover-disappear" href="/account/addresses">Add a default address</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
