<div class="login-page__container">
  <div id="login-container" class="login__container">
    <h2>Log In</h2>
    {% form 'customer_login', class: "login__form" %}
      {%- if form.errors -%}
        {{ form.errors | default_errors }}
      {%- endif -%}
      <input type="email" name="customer[email]" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'"/>
      <input id="login-password" type="password" name="customer[password]" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'"/>
      <input class="button" type="submit" value="Log In" />
      <a id="forgot-anchor" class="p2 link--hover-appear">Forgot Password?</a>
    {% endform %}
  </div>
  <div id="forgot-container" class="forgot__container hidden">
    <h2>Forgot Your Password?</h2>
    <p>Please enter your email address below and we will send you a link to reset your password.</p>
    {% form 'recover_customer_password', class: "forgot__form" %}
      {%- if form.errors -%}
        {{ form.errors | default_errors }}
      {%- endif -%}
      <input id="recover-email" type="email" name="email" placeholder="Email Address" />
      <input class="button" type="submit" value="Submit" onclick= />
      <a id="cancel-forgot-anchor" class="p2 link--hover-appear">Cancel</a>
    {% endform %}
  </div>
  <div class="signup__container">
    <h2>Create Account</h2>
    {% form 'create_customer', class: "signup__form" %}
      <input type="text" name="customer[first_name]" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'">
      <input type="text" name="customer[last_name]" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'">
      <input type="email" name="customer[email]" id="signup-email" class="{% if form.errors contains 'email' %} input--error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off" placeholder="Email"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
      <input class="button" type="submit" id="signup-submit" value="Sign Up">
    {% endform %}
  </div>
</div>
