<div class="order-page__container">
  <div class="order-page__header">
    <a href="/account">
      <svg>
        <use xlink:href="#dark--back"/>
      </svg>
      Back to Account
    </a>
    <h2>My Account</h2>
  </div>
  <div class="order-page__body">
    <h4>Order #{{ order.order_number }}</h4>
    <p>Placed on {{ order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>
    {% if order.cancelled %}
      <p>Cancelled on {{ order.cancelled_at | date: "%B %d, %Y %I:%M%p" }}</p>
      <p>Reason: {{order.cancel_reason}}</p>
    {% endif %}
    <div class="order-page__table">
      <table class="table-body">
        <thead>
          <tr>
            <th>Product</th>
            <th>SKU</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for line_item in order.line_items %}
          <tr id="{{ line_item.key }}">
            <td data-label="Product">
              <a class="text-decoration--underline" href="{{ line_item.url }}">
                {{ line_item.vendor }} - {{ line_item.title }}
              </a>
            </td>
            <td data-label="SKU">
              {{ line_item.variant.sku }}
            </td>
            <td data-label="Price">{{ line_item.price | money }}</td>
            <td data-label="Quantity">{{ line_item.quantity }}</td>
            <td data-label="Total">{{ line_item.quantity | times: line_item.price | money }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <table class="table-footer">
        <tbody>
          <tr>
            <td>
              Subtotal
            </td>
            <td>
              {{ order.subtotal_price | money }}
            </td>
          </tr>
          {% for discount in order.discounts %}
            <tr>
              <td>
                Discount ({{ discount.code }} {{ discount.rate | times: 100 }}%)
              </td>
              <td>
                {{ discount.savings | money }}
              </td>
            </tr>
          {% endfor %}
          {% for shipping_method in order.shipping_method %}
            <tr>
              <td>
                Shipping Method ({{ shipping_method.title }})
              </td>
              <td>
                {{ shipping_method.price | money }}
              </td>
            </tr>
          {% endfor %}
          {% for tax_line in order.tax_lines %}
            <tr>
              <td>
                Tax ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)
              </td>
              <td>
                {{ tax_line.price | money }}
              </td>
            </tr>
          {% endfor %}
          <tr>
            <td>
              <b>Total</b>
            </td>
            <td>
              <b>{{ order.total_price | money }}<b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="order-page__info">
      <div class="order-page__info__billing">
        <p class="bold">Billing Address</p>
        <p class="p2">Payment Status: {{ order.financial_status_label }}</p>
        {{ order.billing_address | format_address }}
      </div>
      <div class="order-page__info__shipping">
        <p class="bold">Shipping Address</p>
        <p class="p2">Fulfillment Status: {{ order.fulfillment_status_label }}</p>
        {{ order.shipping_address | format_address }}
      </div>
    </div>
  </div>
</div>
