{% schema %}
	{
    "name": "404 Page",
    "settings": [
      {
        "type": "header",
        "content": "Background Images"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "bg_image_mobile",
        "label": "Background Image - Mobile"
      },
      {
        "type": "header",
        "content": "Header Text"
      },
      {
        "type": "text",
        "id": "header_text",
        "label": "Header Text"
      },
      {
        "type": "color",
        "id": "header_text_color",
        "label": "Header Text Color"
      },
      {
        "type": "text",
        "id": "subheader_text",
        "label": "Subheader Text"
      },
      {
        "type": "color",
        "id": "subheader_text_color",
        "label": "Subheader Text Color"
      },
      {
        "type": "header",
        "content": "CTA"
      },
      {
        "type": "select",
        "id": "cta_color_scheme",
        "label": "CTA Color Scheme",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          }
        ]
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      }
    ]
  }
{% endschema %}

<div class="bg__wrapper bg--cover height--100-vh width--100-vw" data-bg="{{ section.settings.bg_image | img_url: '2880x' }}" data-bg-mobile="{{ section.settings.bg_image_mobile | img_url: '990x' }}">
  <div class="container-lg height--100">
    <div class="row align-center justify-center height--100">
      <div class="col-12">
        
        <h1 style="color: {{ section.settings.header_text_color }};">
          {{ section.settings.header_text}}
        </h1>

        <h2 class="margin-top--small" style="color: {{ section.settings.subheader_text_color }};">
          {{ section.settings.subheader_text}}
        </h2>

        <a href="{{ section.settings.cta_url}}" class="inline-block margin-top--small {{section.settings.cta_color_scheme}}  button">
          {{ section.settings.cta_text}}
        </a>

      </div>
    </div>
  </div>
</div>

{% include 'bg-set' %}