{% schema %}
  {
    "name": "Collection Page",
    "settings": [
      {
        "type": "header",
        "content": "Banner Text Color"
      },
      {
        "type": "color",
        "id": "header_text_color",
        "label": "Header Text Color"
      }
    ]
  }
{% endschema %}

{%- capture bg_image -%}
  {% if collection.image != blank %}
    {{ collection.image.src | img_url: '2400x' }}
  {% elsif collection.products.first != blank %}
    {{ collection.products.first.images.first.src | img_url: '2400x' }}
  {% endif %}
{%- endcapture -%}

{%- capture bg_image_mobile -%}
  {% if collection.image != blank %}
    {{ collection.image.src | img_url: '800x' }}
  {% elsif collection.products.first != blank %}
    {{ collection.products.first.images.first.src | img_url: '800x' }}
  {% endif %}
{%- endcapture -%}

<div class="bg__wrapper bg--cover height--100 width--100" data-bg="{{ bg_image }}" data-bg-mobile="{{ bg_image_mobile }}">
  <div class="aspect-ratio--16x9 header">
    <div class="row align-center height--100">
      <div class="col-12">
        <div class="row no-pad">
          <div class="col-10 offset-1">
            <h1 style="color: {{ section.settings.header_text_color }}">
              {{ collection.title }}
            </h1>
            {% if collection.description != blank %}
              <div>
                <p>
                  {{ collection.description }}
                </p>
              </div>
            {% endif %}
          </div>  
        </div>  
      </div>  
    </div>
  </div>
</div>  

{% paginate collection.products by 12 %}
  <div class="container--lg row">
    {%- for product in collection.products -%}
      <div class="margin-top--lg col-12 col-4-md col-3-lg">
        <a href="{{ product.url | within: collection }}">
          <img class="width--100" src="{{ product.featured_image.src | img_url: '480x' }}" alt="{{ product.featured_image.alt }}">
          <div>
            <p>
              {{product.title }}
            </p>
            <p>
              {{ product.price | money }}
            </p>
            {% unless product.available %}
              <p>
                Sold Out
              </p>
            {% endunless %}
          </div>
        </a>
      </div>
    {%- endfor -%}
  </div>

  {%- if paginate.pages > 1 -%}
    {% include 'pagination' %}
  {%- endif -%}
{%- endpaginate -%}

{% include 'bg-set' %}
