{% schema %}
	{
    "name": "Password Page",
    "settings": [
      {
        "type": "header",
        "content": "Background Images"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "bg_image_mobile",
        "label": "Background Image - Mobile"
      },
      {
        "type": "header",
        "content": "Header Text"
      },
      {
        "type": "text",
        "id": "header_text",
        "label": "Header Text"
      },
      {
        "type": "color",
        "id": "header_text_color",
        "label": "Header Text Color"
      },
      {
        "type": "text",
        "id": "subheader_text",
        "label": "Subheader Text"
      },
      {
        "type": "color",
        "id": "subheader_text_color",
        "label": "Subheader Text Color"
      }
    ]
  }
{% endschema %}

<div class="bg__wrapper bg--cover height--100-vh width--100-vw" data-bg="{{ section.settings.bg_image | img_url: '2880x' }}" data-bg-mobile="{{ section.settings.bg_image_mobile | img_url: '990x' }}">
  <div class="height--100-vh width--100-vw container-lg">
    <div class="row align-center height--100">
      <div class="col-12">
        <div class="row no-pad">
          <div class="col-12">
            <h1 style="color: {{ section.settings.header_text_color }};">
              {{ section.settings.header_text}}
            </h1>

            <h2 class="margin-top--small" style="color: {{ section.settings.subheader_text_color }};">
              {{ section.settings.subheader_text}}
            </h2>
          </div>  
        </div>
        <div class="row no-pad">
          <div class="col-6-md align-center">
            <div class="password__forms">

              {% form 'customer' %}

                {{ form.errors | default_errors }}

                {% if form.posted_successfully? %}
                  <p class="margin-bottom--small">Thank you for signing up, you are now subscribed to our newsletter.</p>
                {% else %}
                  <h3 class="margin-bottom--xs">
                    Sign up to be notified at launch.
                  </h3>
                  <input type="hidden" name="contact[tags]" value="prospect, password page">
                  <div class="row no-wrap no-pad">
                    <input type="email"
                        name="contact[email]"
                        id="Email"
                        spellcheck="false"
                        autocomplete="off"
                        autocapitalize="off"
                        placeholder="Email">
                    <button type="submit" name="commit" class="primary button">
                      Submit
                    </button>
                  </div>
                {% endif %}
              {% endform %}
            </div>
          </div>
          <div class="col-6-md align-center">
            <h3>
              Administrator? Sign in with password
            </h3>
            {% form 'storefront_password' %}
              {{ form.errors | default_errors }}
              <div class="row no-pad no-wrap">
                <input type="password" name="password">
                <button class="primary button" value="Enter" type="submit">
                  Submit
                </button>
              </div>
            {% endform %}
          </div>
        </div>
      </div>  
    </div>  
  </div>
</div>

{% include 'bg-set' %}