<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
    <head>
      {% include 'head' %}
      {{ content_for_header }}
    </head>

    <body class="{{ template.name | handle }}{% if template.suffix %}-{{ template.suffix | handle }}{% endif %}">
      {% include 'global-header' %}
      {% unless template == 'cart' %}
        {% include 'global-cart' %}
      {% endunless %}
      <main id="content-for-layout" class="{{ template.name | handle }}{% if template.suffix %}-{{ template.suffix | handle }}{% endif %}">
        {{ content_for_layout }}
      </main>
      {% include 'global-footer' %}
      {% include 'json-ld' %}
      {% include 'scripts' %}
    </body>
</html>
  