<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
    <head>
        {% include 'head' %}
        {{ content_for_header }}
    </head>

    <body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
        {% include 'nav' %}
        <div id="content_for_layout" class="fade-in--second--together">
          {{ content_for_layout }}
        </div>
    </body>
</html>
